CARD_IMAGE_API_URL=http://13.209.190.156/api/characterizations
CARD_IMAGE_API_KEY=
PRE_REGISTRATION_API_URL=http://13.209.190.156/api/pre-registrations
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
OPENAI_API_KEY=
OPENAI_IMAGE_MODEL=gpt-image-1
