.character-name-input {
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

.character-name-input::placeholder {
  font-family: "Elice DX Neolli", sans-serif;
  font-weight: 300;
}
